@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Nunito:wght@200;300;400;600;700&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  font-size: 120%;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  background-repeat: none;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}
h1.temp {
  margin: 0;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: calc(100%-100px);
}
button:hover {
  background: #ffffff6b;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 18px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100%-100px);
}

.description {
  text-transform: capitalize;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
